*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    margin-bottom: 20px;
}
.text{
    margin: 10px 0 10px 20px;
    display: inline-block;
    background-color: #1ed761;
    border-radius: 200px;
    padding: 0px 20px;
}
.img{
    width: 100%;
}
.news{
    width: 500px;
    margin: 5px;
}
.j-between{
    justify-content: space-between;
}
.flex{
    display: flex;
}
.a-center{
    align-items: center;
}
.ml-200{
    margin-left: 200px;
}
